{% extends 'base.html' %}
{%load static%}
{% block title %}
   {{post.title}}
{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/post-detail.css" %}"/>
{% endblock css_files %}

{% block content %}

<section id="summary">
    <h2>This post</h2>
    <article> 
        <img src="{% static 'blog/images/reddit1.jpg' %}" />
        <address> {{post.author}} </address>
        <div>last updated on <time>{{post.date}}</time></div>   
    </article>
    <main>
        <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel earum eius pariatur, facilis laudantium tempore rerum quam non aliquid a, harum molestias possimus ut quo delectus est reiciendis, molestiae blanditiis.</p>
    </main>

</section>

{% endblock %}